---
Checks: 'modernize-*, cppcoreguidelines-*, bugprone-*, clang-analyzer-*, performance-*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: none
User: logan
CheckOptions:
  - key: modernize-loop-convert.MinConfidence
    value: reasonable
...

